.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fff0f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  padding: 15px;
  border: 2px solid #ff69b4;
  border-radius: 10px;
  background-color: #ffffff;
}